#feature h1 {
    margin-bottom: 20px;
    letter-spacing: -2px;
}

#feature h3 {
    margin: auto;
}

#parallax-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 35vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

#parallax-wrapper::before {
    content: "";
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 30vh;
    background-image: url("../../../assets/images/backgrounds/f9_feature.webp");
    background-position: top;
    background-size: cover;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

#falcon-lines {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9Fairings_Lines_Desktop.webp");
}

#falcon {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9Fairings_Lines_Desktop.webp");
}

#carousel-img1 {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9Fairings_Render_Desktop.webp");
}

.img1 #carousel-img2 {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9S1_Render_Desktop.webp");
}

.img2 #carousel-img2 {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9Engines_Render_Desktop.webp");
}

.img3 #carousel-img2 {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9S1Legs_Render_Desktop.webp");
}

#carousel-img3 {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9S2_Render_Desktop.webp");
}

#carousel-img4 {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9Interstage_Render_Desktop.webp");
}

.img1 #carousel-img5 {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9SoloFairings_Render_Desktop.webp");
}

.img2 #carousel-img5 {
    background-image: url("../../../assets/images/falcon-9/desktop/WebsiteF9SoloDragon_Render_Desktop.webp");
}

.img1 #engine-img {
    background-image: url("../../../assets/images/falcon-9/desktop/Merlin.webp");
}

.img2 #engine-img {
    background-image: url("../../../assets/images/falcon-9/desktop/MerlinVac.webp");
}

#video-img {
    background-image: url("../../../assets/images/backgrounds/f9_video.webp");
    background-size: cover;
    height: 100vh;
}

#carousel2-img1 {
    background-image: url("../../../assets/images/falcon-9/F9_1.webp");
}

#carousel2-img2 {
    background-image: url("../../../assets/images/falcon-9/F9_2.webp");
}

#carousel2-img3 {
    background-image: url("../../../assets/images/falcon-9/F9_3.webp");
}

#carousel2-img4 {
    background-image: url("../../../assets/images/falcon-9/F9_4.webp");
}

#carousel2-img5 {
    background-image: url("../../../assets/images//falcon-9/F9_5.webp");
}

#carousel2-img6 {
    background-image: url("../../../assets/images/falcon-9/F9_6.webp");
}

#carousel2-img7 {
    background-image: url("../../../assets/images/falcon-9/F9_7.webp");
}

#carousel2-img8 {
    background-image: url("../../../assets/images/falcon-9/F9_8.webp");
}

#carousel2-img9 {
    background-image: url("../../../assets/images/falcon-9/F9_9.webp");
}

#carousel2-img10 {
    background-image: url("../../../assets/images/falcon-9/F9_10.webp");
}

@media screen and (min-width: 576px) {
    #falcon,
    #falcon-lines,
    #carousel-img1,
    #carousel-img2,
    #carousel-img3,
    #carousel-img4,
    #carousel-img5,
    #engine-img {
        background-size: 130%;
    }
    #carousel-img1,
    #carousel-img2,
    #carousel-img3,
    #carousel-img4,
    #carousel-img5,
    #engine-img {
        align-items: flex-end;
    }
}

@media screen and (min-width: 768px) {
    #falcon,
    #falcon-lines,
    #carousel-img1,
    #carousel-img2,
    #carousel-img3,
    #carousel-img4,
    #carousel-img5,
    #engine-img {
        background-size: cover;
    }
    #carousel-img1,
    #carousel-img2,
    #carousel-img3,
    #carousel-img4,
    #carousel-img5,
    #engine-img {
        align-items: center;
    }
}

@media screen and (max-width: 575px) {
    #falcon,
    #falcon-lines,
    #carousel-img1,
    #carousel-img2,
    #carousel-img3,
    #carousel-img4,
    #carousel-img5,
    #engine-img {
        background-size: 130%;
    }
    #carousel-img1,
    #carousel-img2,
    #carousel-img3,
    #carousel-img4,
    #carousel-img5,
    #engine-img {
        align-items: flex-end;
    }
}

.play-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
}

#video-img:hover .play-arrow,
.video-img-cursor:hover .play-arrow {
    -webkit-transform: translate(-50%, -50%) scale3d(.8, .8, .8);
    transform: translate(-50%, -50%) scale3d(.8, .8, .8);
}

#video-img:hover {
    cursor: pointer;
}

#svg:not(:root) {
    overflow: hidden;
}

#falconCarousel2 {
    margin-bottom: 10vh;
}


/* footers */

#pre-footer {
    height: auto;
    padding-bottom: 20px;
}

#pre-footer p {
    margin: 40px auto 0!important;
    font: 14px/18px DINPro-Medium, Arial, Verdana, sans-serif;
    color: #919191;
}

#pre-footer a.normal:active,
#pre-footer a.normal:link,
#pre-footer a.normal:visited {
    color: #fff;
    text-decoration: none;
}

#footer {
    position: relative;
    height: auto;
    margin: 0 auto;
    height: auto;
    text-align: center;
    font: 12px/18px DINPro-Bold, Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #979797;
    padding: 10px 0;
    text-transform: uppercase;
}

#footer a {
    font: 12px/24px DINPro-Bold, Arial, Verdana, sans-serif;
    font-weight: 400;
    color: #fff;
}