<main>


    <div id="parallax-wrapper">
        <div class="container">
            <div class="row justify-content-md-center" id="feature">
                <div class="col-md">
                    <h1>Falcon 9</h1>
                    <h3>First Orbital Class Rocket capable of reflight</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="returning" class="regular-wrapper background-css flexing headers-left" style="align-items: flex-end;">
        <div class="container pb-5">
            <div class="row justify-content-start justify-content-sm-end">
                <div class="col-6">
                    <h2>RETURNING HUMAN SPACEFLIGHT TO THE UNITED STATES</h2>
                    <a class="btn-background-slide">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="regular-wrapper background-css flexing">
        <div class="container">
            <div class="row justify-content-center justify-content-md-start" style="align-items: center;">
                <div class="col col-md-5">
                    <h2 style="text-align:left">CREW DRAGON DOCKING SIMULATOR</h2>
                    <p class="pt-4">
                        Crew Dragon is designed to autonomously dock and undock with the International Space Station. However, the crew can take manual control of the spacecraft if necessary.
                    </p>
                    <a href="https://iss-sim.spacex.com/" class="btn-background-slide">Try it</a>
                </div>
                <div class="col col-md-7">
                    <video autoplay loop style="width:100%;">
                        <source src="../../assets//imgs/iss_docking_sim.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div id="nasa-selection" class="regular-wrapper background-css flexing headers-left">
        <div class="container pb-5">
            <div class="row justify-content-start justify-content-sm-end">
                <div class="col-6">
                    <h3>05/01/20</h3>
                    <h2>NASA SELECTS LUNAR OPTIMIZED STARSHIP</h2>
                    <p>NASA selected SpaceX to develop a lunar optimized Starship to transport crew between lunar orbit and the surface of the Moon as part of NASA’s Artemis program.</p>
                    <a class="btn-background-slide">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" style="margin-top: 10vh;">
        <div class="container">
            <div class="row mb-1">
                <div class="col">
                    <span>SpaceX © 2020</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8" style="  display: flex; justify-content:space-between">
                    <a href="https://twitter.com/spacex" target="_blank" class="social">TWITTER</a>
                    <a href="https://www.youtube.com/spacex" target="_blank" class="social">YOUTUBE</a>
                    <a href="https://www.instagram.com/spacex/" target="_blank" class="social">INSTAGRAM</a>
                    <a href="https://www.flickr.com/photos/spacex" target="_blank" class="social">FLICKR</a>
                    <a href="https://www.linkedin.com/company/spacex" target="_blank" class="social">LINKEDIN</a>
                    <a href="../../media/privacy_policy_spacex.pdf" target="_blank" class="social d-none d-lg-block">PRIVACY POLICY</a>
                </div>
            </div>
            <div class="row justify-content-center d-lg-none">
                <div class="col-md-8">
                    <a href="../../media/privacy_policy_spacex.pdf" target="_blank" class="social">PRIVACY POLICY</a>
                </div>
            </div>
        </div>
    </div>
</main>