<main>
    <div id="parallax-wrapper">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>Human spacefight</h1>
                <h3>Making life multiplanetary</h3>
            </div>
        </div>
    </div>
    <div class="regular-wrapper flexing">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8" style="text-align: center;">
                    <p class="some-quotes">SpaceX’s family of launch vehicles and spacecraft were designed from the beginning to take humans to Earth orbit, the Moon, Mars and beyond.</p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col" style="text-align: center;">
                    <a class="btn-background-slide" routerLink="/launches">View our NASA Demo-2 Mission</a>
                </div>
            </div>
        </div>
    </div>

    <div id="earth" class="regular-wrapper background-css flexing headers-left">
        <div class="container">
            <div class="row justify-content-start justify-content-sm-end">
                <div class="col-6">
                    <h3>Mission</h3>
                    <h2>Earth orbit</h2>
                    <p>EXPERIENCE THE BLUE PLANET FROM OVER 300KM UP</p>
                    <a class="btn-background-slide">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div id="space-station" class="regular-wrapper background-css flexing headers-left">
        <div class="container">
            <div class="row justify-content-end justify-content-sm-start">
                <div class="col-6">
                    <h3>Mission</h3>
                    <h2>Space station</h2>
                    <p>TRANSPORTING HUMANS TO THE ORBITING LABORATORY IN THE SKY</p>
                    <a class="btn-background-slide">Explore</a>
                </div>
            </div>
        </div>
    </div>

    <div id="moon" class="regular-wrapper background-css flexing headers-left">
        <div class="container">
            <div class="row justify-content-start justify-content-sm-end">
                <div class="col-6">
                    <h3>Mission</h3>
                    <h2>Moon</h2>
                    <p>RETURNING HUMANS TO OUR LUNAR NEIGHBOR</p>
                    <a class="btn-background-slide">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div id="mars" class="regular-wrapper background-css flexing headers-left">
        <div class="container">
            <div class="row justify-content-end justify-content-sm-start">
                <div class="col-6">
                    <h3>Mission</h3>
                    <h2>Mars</h2>
                    <p>THE ROAD TO MAKING HUMANITY MULTIPLANETARY</p>
                    <a class="btn-background-slide">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div id="pre-footer" class="regular-wrapper">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>For inquiries about our private passenger program, contact <a class="normal" href="mailto:sales@spacex.com">sales@spacex.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="mailto:sales@spacex.com" class="btn-background-slide">Contact us</a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row mb-1">
                <div class="col">
                    <span>SpaceX © 2020</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8" style="  display: flex; justify-content:space-between">
                    <a href="https://twitter.com/spacex" target="_blank" class="social">TWITTER</a>
                    <a href="https://www.youtube.com/spacex" target="_blank" class="social">YOUTUBE</a>
                    <a href="https://www.instagram.com/spacex/" target="_blank" class="social">INSTAGRAM</a>
                    <a href="https://www.flickr.com/photos/spacex" target="_blank" class="social">FLICKR</a>
                    <a href="https://www.linkedin.com/company/spacex" target="_blank" class="social">LINKEDIN</a>
                    <a href="../../media/privacy_policy_spacex.pdf" target="_blank" class="social d-none d-lg-block">PRIVACY POLICY</a>
                </div>
            </div>
            <div class="row justify-content-center d-lg-none">
                <div class="col-md-8">
                    <a href="../../media/privacy_policy_spacex.pdf" target="_blank" class="social">PRIVACY POLICY</a>
                </div>
            </div>
        </div>
    </div>
</main>