<main>
    <div id="parallax-wrapper">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>Falcon heavy</h1>
                <h3>The world's most powerful rocket</h3>
            </div>
        </div>
    </div>
    <div class="regular-wrapper flexing">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col" inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="counting($event)">
                    <span class="number">{{counter[0]}}</span>
                </div>
                <div class="col">
                    <span class="number">{{counter[1]}}</span>
                </div>
                <div class="col">
                    <span class="number">{{counter[2]}}</span>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                    <span class="stats">Total Launches</span>
                </div>
                <div class="col">
                    <span class="stats">Total Landings</span>
                </div>
                <div class="col">
                    <span class="stats">Reflown Rockets</span>
                </div>
            </div>
        </div>
    </div>

    <div class="regular-wrapper {{classAdded}} background-css flexing" id="falcon-heavy-lines">
        <div class="container">
            <div class="row justify-content-center justify-content-md-start">
                <div class="col col-md-6">
                    <h4 style="text-align:left">
                        Falcon Heavy is the most powerful operational rocket in the world by a factor of two. With the ability to lift into orbit nearly 64 metric tons (141,000 lb) Falcon Heavy can lift more than twice the payload of the next closest operational vehicle, the
                        Delta IV Heavy. Falcon Heavy is composed of three Falcon 9 nine-engine cores whose 27 Merlin engines together generate more than 5 million pounds of thrust at liftoff, equal to approximately eighteen 747 aircraft.
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="regular-wrapper background-css {{classAdded}}" id="falcon-heavy" inViewport [inViewportOptions]="{ threshold: 0 }" (inViewportAction)="attaching($event)">
        <div id="falconCarousel" class="carousel slide headers-left" data-ride="carousel" data-interval="false">
            <div class="d-none d-md-block">
                <ol class="carousel-indicators">
                    <li data-target="#falconCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#falconCarousel" data-slide-to="1"></li>
                    <li data-target="#falconCarousel" data-slide-to="2"></li>
                    <li data-target="#falconCarousel" data-slide-to="3"></li>
                    <li data-target="#falconCarousel" data-slide-to="4"></li>
                </ol>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="background-css {{classAdded}} flexing" id="carousel-img1">
                        <div class="container" style="height:50vh">
                            <div class="row">
                                <div class="col">
                                    <h3>Falcon heavy</h3>
                                    <h2>Overview</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="data mb-5">
                                        <tbody>
                                            <tr>
                                                <td>HEIGHT</td>
                                                <td>70 m <span>/ 229.6 ft</span></td>
                                            </tr>
                                            <tr>
                                                <td>DIAMETER</td>
                                                <td>12.2 m <span>/ 39.9 ft</span></td>
                                            </tr>
                                            <tr>
                                                <td>MASS</td>
                                                <td>1,420,788 kg <span>/ 3,125,735 lb</span></td>
                                            </tr>
                                            <tr>
                                                <td>PAYLOAD TO LEO</td>
                                                <td>63,800 kg <span>/ 140,660 lb</span></td>
                                            </tr>
                                            <tr>
                                                <td>PAYLOAD TO GTO</td>
                                                <td>26,700 kg <span>/ 58,860 lb</span></td>
                                            </tr>
                                            <tr>
                                                <td>PAYLOAD TO MARS</td>
                                                <td>16,800 kg <span>/ 37,040 lb</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item {{changedImage}}">
                    <div class="background-css {{classAdded}} flexing" id="carousel-img2">
                        <div class="container" style="height:50vh">
                            <div class="row">
                                <div class="col">
                                    <h3>Falcon heavy</h3>
                                    <h2>First stage</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="accordion" id="accordion-first-stage">
                                        <div class="accordion-buttons mt-3">
                                            <button type="button" data-toggle="collapse" data-target="#first-stage-collapse1" aria-expanded="true" aria-controls="first-stage-collapse1" (click)="changeImg('img1')">
                                            Overview
                                        </button>
                                            <button type="button" data-toggle="collapse" data-target="#first-stage-collapse2" aria-expanded="false" aria-controls="first-stage-collapse2" (click)="changeImg('img2')">
                                            Engines
                                        </button>
                                            <button type="button" data-toggle="collapse" data-target="#first-stage-collapse3" aria-expanded="false" aria-controls="first-stage-collapse3" (click)="changeImg('img3')">
                                            Landing legs
                                        </button>
                                        </div>
                                        <div id="first-stage-collapse1" class="collapse show mt-3" data-parent="#accordion-first-stage">
                                            <p>
                                                Three cores make up the first stage of Falcon Heavy. The side cores, or boosters, are connected on the nosecone, the interstage, and on the octaweb. Shortly after liftoff the center core engines are throttled down. After the side cores separate, the center
                                                core engines throttle back up to full thrust.
                                            </p>
                                        </div>
                                        <div id="first-stage-collapse2" class="collapse mt-3" data-parent="#accordion-first-stage">
                                            <p>Falcon Heavy’s first stage incorporates 27 Merlin engines across three aluminum-lithium alloy rocket cores containing liquid oxygen and rocket-grade kerosene (RP-1) propellant. Falcon Heavy generates more than
                                                5 million pounds of thrust at liftoff.</p>
                                            <table class="data mb-5">
                                                <tbody>
                                                    <tr>
                                                        <td>NUMBER OF ENGINES</td>
                                                        <td>27</td>
                                                    </tr>
                                                    <tr>
                                                        <td>THRUST AT SEA LEVEL</td>
                                                        <td>22,819 kN <span>/ 5,130,000 lbf</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>THRUST IN VACUUM</td>
                                                        <td>24,681 kN <span>/ 5,548,500 lbf</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="first-stage-collapse3" class="collapse mt-3" data-parent="#accordion-first-stage">
                                            <p>
                                                The Falcon Heavy first stage is equipped with 12 landing legs (4 on each booster) made of state-of-the-art carbon fiber with aluminum honeycomb.
                                            </p>
                                            <p>
                                                All 12 landing legs are stowed along the side of each booster until just prior to landing.
                                            </p>
                                            <p style="text-decoration: underline;"><strong>Learn more about Falcon reusability </strong> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css {{classAdded}} flexing" id="carousel-img3">
                        <div class="container" style="height:50vh">
                            <div class="row">
                                <div class="col">
                                    <h3>Falcon heavy</h3>
                                    <h2>Interstage</h2>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <p>The interstage is a composite structure that connects the center core on the first stage and second stages and holds the release and separation system.</p>
                                    <h3>Grid fins</h3>
                                    <p>Falcon Heavy is equipped with 12 hypersonic grid fins, four on each booster, positioned at the base of the interstage or nosecone which orients by moving the center of pressure during reentry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css {{classAdded}} flexing" id="carousel-img4">
                        <div class="container" style="height:50vh">
                            <div class="row">
                                <div class="col">
                                    <h3>Falcon heavy</h3>
                                    <h2>Second stage</h2>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <p>Falcon Heavy draws upon Falcon 9’s proven design, which minimizes stage separation events and maximizes reliability. The second-stage Merlin Vacuum Engine delivers the rocket’s payload to orbit after the main engines
                                        cut off and the first-stage cores separate.
                                    </p>
                                    <table class="data mb-5">
                                        <tbody>
                                            <tr>
                                                <td>NUMBER OF ENGINES</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>BURN TIME</td>
                                                <td>397 sec</td>
                                            </tr>
                                            <tr>
                                                <td>THRUST</td>
                                                <td>981 kN <span>/ 220,500 lbf</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item {{changedImage2}}">
                    <div class="background-css {{classAdded}} flexing" id="carousel-img5">

                        <div class="container" style="height:50vh">
                            <div class="row">
                                <div class="col">
                                    <h3>Falcon Heavy</h3>
                                    <h2>Payload</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        Made of a carbon composite material, the fairing protects satellites on their way to orbit. SpaceX is recovering fairing for reuse on future missions.
                                    </p>
                                    <p style="text-decoration: underline;"><strong>Learn more about SpaceX reusability</strong> </p>
                                    <table class="data mb-5">
                                        <tbody>
                                            <tr>
                                                <td>HEIGHT</td>
                                                <td>13.1 m <span>/ 43 ft</span></td>
                                            </tr>
                                            <tr>
                                                <td>DIAMETER</td>
                                                <td>5.2 m <span>/ 17.1 ft</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#falconCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#falconCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="regular-wrapper" style="height:auto" inViewport [inViewportOptions]="{ threshold: 0 }" (inViewportAction)="viewPortCheck($event)">
        <div id="video-img" class="background-css" style="position:relative;" (click)="videoPlay();">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64.025" height="81.486" viewBox="0 0 64.025 81.486" class="play-arrow">
                <g>
                    <path d="M8,5V86.486L72.025,45.743Z" transform="translate(-8 -5)" fill="#fff"></path>
                </g>
            </svg>
        </div>
    </div>
    <div class="regular-wrapper background-css flexing">
        <div class="container">
            <div class="row justify-content-center justify-content-md-start" style="align-items: center;">
                <div class="col col-md-6">
                    <video autoplay loop style="width:100%;">
                        <source src="../../../assets/imgs/fh_performance.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col col-md-6">
                    <h2 style="text-align:left">Unmatched performance</h2>
                    <h4 style="text-align:left">
                        With more than 5 million pounds of thrust at liftoff, Falcon Heavy is the most capable rocket flying. By comparison, the liftoff thrust of the Falcon Heavy equals approximately eighteen 747 aircraft at full power. Falcon Heavy can lift the equivalent
                        of a fully loaded 737 jetliner—complete with passengers, luggage and fuel—to orbit.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="regular-wrapper" class="{{changedImage3}}" style="height:auto">
        <div id="engine-img" class="background-css flexing headers-left" style="position:relative;">
            <div class="container" style="height:50vh">
                <div class="row">
                    <div class="col">
                        <h3>Engines</h3>
                        <h2>Merlin</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="accordion" id="accordion-engines2">
                            <div class="accordion-buttons mt-3">
                                <button type="button" data-toggle="collapse" data-target="#engines2-collapse1" aria-expanded="true" aria-controls="engines2-collapse1" (click)="changeImg3('img1')">
                                    Sea level
                                </button>
                                <button type="button" data-toggle="collapse" data-target="#engines2-collapse2" aria-expanded="false" aria-controls="engines2-collapse2" (click)="changeImg3('img2')">
                                    Vaccum
                                </button>
                            </div>
                            <div id="engines2-collapse1" class="collapse show mt-3" data-parent="#accordion-engines2">
                                <p>
                                    Merlin is a family of rocket engines developed by SpaceX for use on its Falcon 1, Falcon 9 and Falcon Heavy launch vehicles. Merlin engines use a rocket grade kerosene (RP-1) and liquid oxygen as rocket propellants in a gas-generator power cycle. The
                                    Merlin engine was originally designed for recovery and reuse.
                                </p>
                                <table class="data mb-5">
                                    <tbody>
                                        <tr>
                                            <td>PROPELLANT</td>
                                            <td>LOX <span>/ RP-1</span></td>
                                        </tr>
                                        <tr>
                                            <td>THRUST</td>
                                            <td>845 kN <span>/ 190,000 lbf</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="engines2-collapse2" class="collapse mt-3" data-parent="#accordion-engines2">
                                <p>Merlin Vacuum features a larger exhaust section and a significantly larger expansion nozzle to maximize the engine’s efficiency in the vacuum of space. Its combustion chamber is regeneratively cooled, while the expansion
                                    nozzle is radiatively cooled. At full power, the Merlin Vacuum engine operates with the greatest efficiency ever for an American-made hydrocarbon rocket engine.</p>
                                <table class="data mb-5">
                                    <tbody>
                                        <tr>
                                            <td>PROPELLANT</td>
                                            <td>LOX <span>/ RP-1</span></td>
                                        </tr>
                                        <tr>
                                            <td>THRUST</td>
                                            <td>981 kN <span>/ 220,500 lbf</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="regular-wrapper background-css">
        <div id="falconHeavyCarousel2" class="carousel slide headers-left" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="background-css" id="carousel2-img1"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy vertical at Kennedy Space Center</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img2"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy takes off from Pad 39A at Kennedy Space Center</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img3"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy carries Arabsat-6A to orbit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img4"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy's side boosters land at LZ-1 and LZ-2 at Cape Canaveral</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img5"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy lifts off from Pad 39A at Kennedy Space Center</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img6"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy lifts off from Pad 39A at Kennedy Space Center</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img7"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>All 27 Merlin engines lit on Falcon Heavy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img8"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy lifts off from Pad39A at Kennedy Space Center</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img9"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy lifts off from Pad 39A at Kennedy Space Center</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="background-css" id="carousel2-img10"></div>
                    <div class="container description flexing">
                        <div class="row" style="width:100%">
                            <div class="col">
                                <p>Falcon Heavy's side boosters land at LZ-1 and LZ-2 at Cape Canaveral</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#falconHeavyCarousel2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#falconHeavyCarousel2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div id="pre-footer" class="regular-wrapper" style="margin-top:10vh">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>For information about our launch services, contact <a href="mailto:sales@spacex.com">sales@spacex.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-md-right text-center">
                    <a href="https://www.spacex.com/media/falcon_users_guide_042020.pdf" class="btn-background-slide" target="_blank">Download user's guide</a>
                </div>
                <div class="col-md-6 text-md-left text-center">
                    <a href="https://www.spacex.com/media/Capabilities&Services.pdf" class="btn-background-slide" target="_blank">Capabilities and services</a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row mb-1">
                <div class="col">
                    <span>SpaceX © 2020</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8" style="  display: flex; justify-content:space-between">
                    <a href="https://twitter.com/spacex" target="_blank" class="social">TWITTER</a>
                    <a href="https://www.youtube.com/spacex" target="_blank" class="social">YOUTUBE</a>
                    <a href="https://www.instagram.com/spacex/" target="_blank" class="social">INSTAGRAM</a>
                    <a href="https://www.flickr.com/photos/spacex" target="_blank" class="social">FLICKR</a>
                    <a href="https://www.linkedin.com/company/spacex" target="_blank" class="social">LINKEDIN</a>
                    <a href="../../media/privacy_policy_spacex.pdf" target="_blank" class="social d-none d-lg-block">PRIVACY POLICY</a>
                </div>
            </div>
            <div class="row justify-content-center d-lg-none">
                <div class="col-md-8">
                    <a href="../../media/privacy_policy_spacex.pdf" target="_blank" class="social">PRIVACY POLICY</a>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="my-modal {{addHidden}}">
    <div class="modal-content" (click)="videoClose();">
        <div class="container">
            <span class="closeBtn">&times;</span>
            <div class="row flexing" style="height:100vh;">
                <div class="col-12">
                    <div class="iframe-container">
                        <iframe class="video" src="https://www.youtube.com/embed/A0FZIwabctw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>